<section id="author"><div style="background-image: url('img/back1.jpg');
        
        background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
        
        " class="row ">
           
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                 
        <div class="card shadow">

            <div class="py-3 w-100 blue"></div>
            <div class="position-relative h-100">
              <div class="h-50 w-100 blue position-absolute text-white text-center">
              </div>
              <!-- Card image -->
              <div class="w-50 mx-auto position-relative shadow">
                <img class=" card-img-top" src="img/avatar.jpg" alt="Card image">
              </div>
            </div>
            <!-- Card body -->
            <div class="card-body text-center">
              <h5 class="card-title pt-2 pb-0 mb-2">João Henrique Riboli</h5>
              <p class="card-subtitle">Jiboli</p>
              <!-- Text -->
              <p class="card-text">
                  Como diriam alguns, "O Efeito Jiboli não pode ser definido", mas discordo, ele é deveras simples de se compreender, você pega uma pessoa dividida no mundo das Humanas e o das Exatas, mistura com preguiça, criatividade e tempo faltando. Pronto, você obtém uma pessoa que faz de tudo um pouco, e um pouco de tudo, porém quando lhe der na telha. Gosto de matemática e de Artes, de Astronomia e Astrologia, de Química e Alquimia, enfim, em minha mente, todos os paradoxos são conciliados, e o mundo vive utopicamente em harmonia. <br>Dito isso, proclamo aqui a verdade universal: O correto é BOLACHA, não biscoito.
              </p>
              <ul class="clear">
                <li class="d-flex justify-content-between">
                  <i class="mi mi-MapPin2"></i>
                  <span>Palmas , BRA</span>
                </li>
                <li class="d-flex justify-content-between">
                  <i class="mi mi-Phone"></i>
                  <span>+55 46 92000-7282</span>
                </li>
                <li class="d-flex justify-content-between">
                  <i class="mi mi-Mail"></i>
                  <span>Joao.riboli@outlook.com</span>
                </li>
              </ul>
            </div>
            <div class="card-footer bg-transparent d-flex justify-content-between">
              <a href="https://www.instagram.com/{{ site.instagram_username| cgi_escape | escape }}">
                <i class="mi mi-instagram" style="color:#BF0077;"></i>
              </a>
              <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
                <i class="mi mi-github" style="color:#4C4A48;"></i>
              </a>
              <a href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}">
                <i class="mi mi-facebook" style="color:#0078D7;"></i>
              </a>
              <a href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
                <i class="mi mi-twitter" style="color:#0099BC;"></i>
              </a>
            </div>
          </div>
          </div>
          <div class="col-lg-3"></div>
          <div class="col-xs-12">
            &nbsp;
          </div>
        </div>
        
          </div>
          </section>
          <!--/.Card-->