<section id="experience">
        <div class="row blur">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
<div class="card">
    <ul class="nav nav-tabs fluent-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
         <!-- Card columns -->
<div class="card-columns">

        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/12.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/11.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
             <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
      
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/17.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/25.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/84.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/27.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
      </div>
      <!-- Card columns -->
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <!-- Card columns -->
<div class="card-columns">

        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/12.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/11.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
             <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
      
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/17.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/25.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/84.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/27.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
      </div>
      <!-- Card columns -->
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
         <!-- Card columns -->
<div class="card-columns">

        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/12.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/11.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
             <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
      
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/17.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/25.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/84.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card shadow mb-4">
      
          <!-- Card img -->
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Others/images/27.jpg" alt="Card image">
      
          <!-- Card img-overlay -->
          <div class="card-img-overlay p-3 text-white" style="background-color:rgba(0,0,0,.45)">
      
            <!-- Title -->
            <h4 class="card-title">Lorem, ipsum.</h4>
      
            <!-- Subtitle -->
            <p class="card-subtitle">Lorem, ipsum dolor.</p>
      
            <!-- Text-->
            <p class="card-text d-block d-md-none d-lg-block">Lorem ipsum dolor sit amet..</p>
      
            <!-- Link -->
            <a href="#" class="card-link">
              Download
              <i class="mi mi-ChevronRight"></i>
            </a>
      
          </div>
          <!-- Card img-overlay -->
      
        </div>
        <!-- Card -->
      
      </div>
      <!-- Card columns -->
        </div>
      </div>
      </div><div class="col-lg-3"></div>

    </div>

</section>