{%- include latest_posts.html -%}
<footer class="page-footer font-small dark-dimgrey">

    <div class="footer-copyright text-center py-3 text-white-50">© 2018 Copyright:
        <a href="https://jiboli.github.io/" class="text-white"> Jiboli</a>
      </div>
  
  <!-- Scripts -->
  <!-- JQuery -->
  <script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="./js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="./js/bootstrap.min.js"></script>

</footer>
