<section id="testimonials">
        <div class="row blur">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
<div class="card">

        <!-- Card group -->
<div class="card-group">

        <!-- Card -->
        <div class="card mb-4">
      
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Fluent/img(2).jpg" alt="Card image">
            <a href="#!">
              <div class=""></div>
            </a>
          </div>
      
          <!-- Card content -->
          <div class="card-body">
      
            <!-- Title -->
            <h4 class="card-title">Card title</h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- Button -->
            <button type="button" class="btn btn-primary btn-md">Read more</button>
      
          </div>
          <!-- Card content -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card mb-4">
      
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Fluent/img(5).jpg" alt="Card image">
            <a href="#!">
              <div class=""></div>
            </a>
          </div>
      
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">Card title</h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- Button -->
            <button type="button" class="btn btn-primary btn-md">Read more</button>
      
          </div>
          <!-- Card content -->
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card mb-4">
      
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Fluent/img(3).jpg" alt="Card image">
            <a href="#!">
              <div class=""></div>
            </a>
          </div>
      
          <!-- Card content -->
          <div class="card-body">
      
            <!-- Title -->
            <h4 class="card-title">Card title</h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- Button -->
            <button type="button" class="btn btn-primary btn-md">Read more</button>
      
          </div>
          <!-- Card content -->
      
        </div>
        <!-- Card -->
      
      </div>
      <!-- Card group -->




    </div>

</div><div class="col-lg-3"></div>

</div>

</section>