<section id=skill>

    <div class="row blur">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
<div class="card blur">
        <div class="card-body text-center">
    <ul class="nav nav-tabs nav-justified fluent-tabs" id="exampleTabsJustify" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="exampleHomeJustify" data-toggle="tab" href="#linkHomeJustify" role="tab" aria-controls="linkHomeJustify"
            aria-selected="true">Programação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="exampleProfileJustify" data-toggle="tab" href="#linkProfileJustify" role="tab" aria-controls="linkProfileJustify"
            aria-selected="false">Artes Gráficas</a>
        </li>
      </ul>
      <div class="tab-content" id="exampleTabsContentJustify">

        <div class="tab-pane fade show active" id="linkHomeJustify" role="tabpanel" aria-labelledby="exampleHomeJustify">
          <h2>Programação</h2>

          <div class="row">
            <div class="col-md-6">
                <h4>C/C++</h4>
                    <div class="progress progress-fluent my-3">
                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <h4>C/C++</h4>
                          <div class="progress progress-fluent my-3">
                                  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4>C/C++</h4>
                                <div class="progress progress-fluent my-3">
                                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
            </div>
            <div class="col-md-6">
                    <h4>PHP</h4>
                        <div class="progress progress-fluent my-3">
                                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                              <h4>PHP</h4>
                        <div class="progress progress-fluent my-3">
                                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                              <h4>PHP</h4>
                        <div class="progress progress-fluent my-3">
                                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                </div>

          </div>

        </div>
        <div class="tab-pane fade" id="linkProfileJustify" role="tabpanel" aria-labelledby="exampleProfileJustify">
                <h2>Programação</h2>

                <div class="row">
                  <div class="col-md-6">
                      <h4>C/C++</h4>
                          <div class="progress progress-fluent my-3">
                                  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4>C/C++</h4>
                                <div class="progress progress-fluent my-3">
                                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                      <h4>C/C++</h4>
                                      <div class="progress progress-fluent my-3">
                                              <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                  </div>
                  <div class="col-md-6">
                          <h4>PHP</h4>
                              <div class="progress progress-fluent my-3">
                                      <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4>PHP</h4>
                              <div class="progress progress-fluent my-3">
                                      <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4>PHP</h4>
                              <div class="progress progress-fluent my-3">
                                      <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                      </div>
      
                </div>
        </div>
        
        
      </div>
      </div>

      <!-- Wow Code-->
      <div style="background-image: url('img/wow.jpg'); z-index: -1; background-repeat: no-repeat; background-size: contain;
      background-attachment: scroll;
      background-position: center; min-height: 360px;" class="row">
      <div style="background-color: rgba(255, 255, 255, 0) !important; " class="col-md-12 card shadow blur-inverso">

            <!-- Card deck -->
            <br><h2 class="text-center">Alguns números</h2><br>
<div class="card-deck">
        
        
        
        <div class="row">
                
            <!-- Card -->
        <div class="card card-hover mb-3">
            
          <!--Card content-->
          <div class="card-body card-hover">
      
            <!--Title-->
            <h4 class="card-title">Card title</h4>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      
          </div>
      
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card card-hover mb-3">
            
                <!--Card content-->
                <div class="card-body">
            
                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            
                </div>
            
              </div>
              <!-- Card --><!-- Card -->
        <div class="card card-hover mb-3">
            
                <!--Card content-->
                <div class="card-body">
            
                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            
                </div>
            
              </div>
              <!-- Card --><!-- Card -->
        <div class="card card-hover mb-3">
            
                <!--Card content-->
                <div class="card-body">
            
                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            
                </div>
            
              </div>
              <!-- Card -->
      </div>
     
      
      </div>
      <!-- Card deck -->
      </div></div>

      </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
</section>