/* === Progress Bar === */
.progress {
    height: 1px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #E0E0E0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 1px;
    color: #fff;
    text-align: center;
    background-color: #0C0C0C;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.iframe-container {
    overflow: hidden;
    padding-top: 0%;
    position: relative;
  }
   
  .iframe-container iframe video {
     border: 0;
     height: 66%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }